<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue-js</title>
    <!-- vue js  -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- css  -->
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>

    <div id="app">

        <h1>{{title}}</h1>

        <div class="formName">
            <div v-model="nameUser">What's your name?</div>
            <input type="text" v-model="nameUser" placeholder="Enter your name">
        </div>
        
        <div class="ask">{{ask}} {{nameUser}}</div>

        <div class="answer">{{answer}}</div>
        
        <div class="containerBtn">
            <button id="yes" class="btnYes" @click="menu">yes</button>
            <button class="btnNo" @click="reloadPage">no</button>
        </div>    

        <div id="menu"></div>

    
    </div>


    <!-- JS -->
    <script src="./js/main.js"></script>
</body>
</html>